* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-family: "Open Sans";
  background-color: #dfe474;
  color: #666;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #3084bf;
}
.wrapper {
  max-width: 75em;
  width: 100%;
  margin: 1.5em auto;
}
.wrapper h1 {
  font-weight: 300;
}
.wrapper h1:before,
.wrapper h1:after {
  content: "\2698";
  margin: 0 0.5em;
  color: #000;
}
.wrapper p:first-of-type:first-letter {
  font-size: 4.5em;
  line-height: 1em;
}
.content {
  width: 64%;
  float: left;
  margin-right: 2%;
}
.sidebar {
  width: 34%;
  float: left;
}
.rem {
  width: 1.8125rem;
}
.zebra_divs div:nth-child(odd) {
  background: #74cf3e;
}
.zebra_divs div:nth-child(even) {
  background: #85ed48;
}
.zebra_anythings > :nth-child(odd) {
  background: #515acf;
}
.zebra_anythings > :nth-child(even) {
  background: #5e67ed;
}
