$heightlight_color = #868686
// 变量实现px到rem
$base_fontSize = 16
$px = ( 1 / $base_fontSize) rem
// mixins
zebra(even_color = #eee, odd_color = #ddd, child = '&')
  {child}:nth-child(odd)
    background odd_color
  {child}:nth-child(even)
    background even_color


*
  box-sizing border-box
html, body
  height 100%
html
  font-family "Open Sans"
  background-color #dfe474
  color #666666
img
  max-width 100%
  height auto
a
  text-decoration none
  color #3084bf
.wrapper
  max-width 75em
  width 100%
  margin 1.5em auto
  h1
    font-weight 300
    &:before
    &:after
      content "\2698"
      margin 0 0.5em
      color #000
  p
    &:first-of-type:first-letter
      font-size 4.5em
      line-height 1em
.content
  width 64%
  float left
  margin-right 2%
.sidebar
  width 34%
  float left
.rem
  width 29 * $px
.zebra_divs
  div
    zebra(#85ed48, #74cf3e)
.zebra_anythings
  zebra(#5e67ed, #515acf, '> ')
