html,
body {
  margin: 0;
  padding: 1em;
  height: 100%;
}
html {
  font-family: "Open Sans";
  background-color: #e4e4e4;
  color: #666;
}
h1 {
  font-size: 2.25em;
  text-align: center;
  font-weight: 800;
}
.wrapper {
  background-color: #fff;
  border: 0.0625em solid #d3d3d3;
  padding: 3em;
  margin-bottom: 3em;
}
.wrapper h1 {
  font-weight: 300;
}
.wrapper h1:before,
.wrapper h1:after {
  content: "\2698";
  margin: 0 0.5em;
  color: #d81137;
}
.wrapper p:first-of-type:first-letter {
  font-size: 4.5em;
  line-height: 1em;
}
